<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.youngbin.hackpay">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.LoginActivity" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.ScannerActivity"
            android:label="@string/title_activity_scanner"
            android:theme="@style/AppTheme.NoActionBar" />asdfasdf
        <activity android:name=".ui.activities.PaymentActivity"asdfasdfasdfasdfasdf
            android:theme="@style/NavAppTheme" />
        <activity android:name=".ui.activities.PincodeActivity"
            android:theme="@style/NavAppTheme.NoActionBar" />
        <activity android:name=".ui.activities.ResultActivity"
            android:theme="@style/NavAppTheme"/>
        <activity
            android:name=".ui.activities.CreditsAndHistoryActivity"
            android:label="@string/activity_main_credits"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity"/>
        </activity>


        <activity android:name=".ui.activities.seller.SellerProductListActivity"
            android:label="상품 목록"
            android:theme="@style/NavAppTheme" />
        <activity android:name=".ui.activities.seller.SellerProductAddActivity"
            android:label="상품 추가"
            android:theme="@style/NavAppTheme" />
        <activity android:name=".ui.activities.seller.SellerRequestPaymentActivity"
            android:label="결제 요청"
            android:theme="@style/NavAppTheme" />
        <activity android:name=".ui.activities.seller.SellerPaymentWaitActivity"
            android:label="결제 대기"
            android:theme="@style/NavAppTheme" />
    </application>

</manifest>